---
services:
  jellyfin:
    container_name: {{ jellyfin_container_name }}
    image: {{ jellyfin_image }}
    restart: unless-stopped

    ports:
      - "{{ jellyfin_http_port }}:8096"

    volumes:
      - {{ jellyfin_config_dir }}:/config
      - {{ jellyfin_media_dir }}:/media:ro
