---
services:
  portainer:
    container_name: {{ portainer_container_name }}
    image: {{ portainer_image }}
    restart: always

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ portainer_volume_name }}:/data

    ports:
      - "{{ portainer_https_port }}:9443"
{% if portainer_enable_edge_agent %}
      - "{{ portainer_edge_agent_port }}:8000"
{% endif %}

volumes:
  {{ portainer_volume_name }}:
    name: {{ portainer_volume_name }}

networks:
  default:
    name: {{ portainer_network_name }}